

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-padding-top:2rem;
	scroll-behavior: smooth;
	font-family: 'Raleway', sans-serif;
}
/*google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@300&display=swap');
:root{
    --headerclr:#6156F9;
    --mainclr:#ed358d;
    --main-color:#ff2c1f;
	--text-color:#020307;
	--bg-color:#fff;
}
body{
	background:var(--text-color);
	color: var(--text-color);
}
section{
	padding: 4.5rem 0.1rem;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 100px;
	transition: .5s;
	
}
.logo{
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--bg-color);
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	margin-right: 30px;
}
.logo .bx{
	font-size: 24px;
	color: var(--main-color);
}
.navbar{
	display: flex;
	column-gap: 5rem;
}
.navbar li{
	position: relative;
}
.navbar a{
	font-size: 1rem;
	font-weight: 500;
	color: var(--bg-color);
}
.navbar a::after{
	content: '';
	width: 0;
	height: 2px;
	background: var(--main-color);
	position: absolute;
	bottom: -4px;
	left: 0;
	transition: 0.2s all linear;
}
.navbar a:hover::after,.navbar .home-active::after{
	width: 100%;
}
#menu-icon{
	font-size: 24px;
	cursor: pointer;
	z-index: 1000001;
	display:none; 
}
.social-icons{
	padding-left: 20px; 
	color: red;
	zoom:170%;
}
.social-icons:hover{
	cursor: pointer;
	color: white;
	transition: .5s ease;
}
.btn{
	padding: 0.7rem 1.4rem;
	background:var(--main-color);
	color:var(--bg-color);
	font-weight: 400;
	border-radius:0.5rem;
}
.btn:hover{
	background: #fa1216;
}
.container{
	width: 100%;
	min-height: 640px;
	position: relative;
	display: flex;
	align-items: center;
	background:rgb(2,3,7,0.4);
}
.container img{
	position: absolute;
	width: 100%;
	height:100%;
	object-fit: cover;
	object-position: center;
	z-index: -1;
}
.swiper-pagination-bullet{
	width: 6px !important;
	height: 6px !important;
	border-radius:0.2rem !important;
	background:var(--bg-color) !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active{
 width: 1.5rem !important;
 background: var(--main-color) !important; 	
}
.home-text{
	z-index: 1000;
	padding: 0 50px;
	margin-top: 90px;
	
}
.home-text span{
	color: var(--bg-color);
	font-weight: 500;
	text-transform: uppercase;
}
.home-text h1{
	color: var(--bg-color);
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.whatsapp{
	position: absolute;
	right: 4rem;
	bottom: 10%;
}
.whatsapp .bx{
	background: var(--bg-color);
	padding: 10px;
	font-size: 2rem;
	border-radius: 50%;
	border:4px solid rgb(2,3,7,0.4);
	color: var(--main-color);
}
.whatsapp .bx:hover{
	background: var(--main-color);
	color: var(--bg-color);
	transition: 0.2s all linear;
}

.who{
    padding: 2rem 7%;
    background-color:#F7F9F9 ;
    zoom:75%;
    padding-bottom: 10%;
}
.who h1{
    color: var(--headerclr);
    font-size: 60px;
    text-align: center;
}
.main-who{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inner-who{
    flex: 1 1 45rem;
}
.inner-who:hover{
transform: scale(1.03);

}

.inner-who img{
width: 100%;
border-radius: 12px;
}
.inner-who-content{
    padding: 0 2rem;
}
.inner-who-content h2{
    color: var(--headerclr);
    font-size: 40px;
}
.inner-who-content p{
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
}
.inner-who-content a{
    background: var(--headerclr);
    padding: 1.5rem 3rem;
    color: white;
    font-size: 1.5rem;
}
.inner-who-content a:hover{
    border-radius: 15px;
    background: var(--mainclr);
}
.red{
	color: #3498DB  ;
}
.offer{
 
 display: flex;	
 justify-content: center;
 flex-wrap: wrap;
} 

.card{
	background-color: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px 15px;
    @media(max-width:670px) {
        flex-direction: column;
        flex-wrap: nowrap;
   }
}
  
.card-image{
	
	height: 250px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;

}
.car-1{
	background-image: url('images/1.jpg');
}
.car-2{
	background-image: url('images/2.jpg');
}
.car-3{
	background-image: url('images/3.jpg');
}
.card h2{
	padding: 10px;
}
.card p{
	padding: 10px;
}
.card a{
	background-color: red;
	color: white;
	padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 6px; 
}
.card:hover{
	background-color: rgb(62,62,62);
	color: white;
	cursor: pointer;
	transform:scale(1.07); 
	transition: all 1s ease;

}
.card a:hover{
background: var(--headerclr);
}
.car-4{
	background-image: url('images/4.jpg');
}
.car-5{
	background-image: url('images/5.jpg');
}
.car-6{
	background-image: url('images/6.jpg');
}

#heady{
	color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
    zoom:75%;
}
.cost{
	align-self: center;
	color: red;
	font-size: 25px;
	font-family:serif;
}
.color{
	
	background-image: url('images/grass4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.our-packages{
    padding: 6rem 7%;
    background: #a69efaa4;
    zoom:75%;
    
}
.our-packages h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
    zoom:75%;
}
.main-package{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.inner-package{
 flex: 1 1 300px;
 padding: 5rem 1rem;
 background-image: url('images/water.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 text-align: center;
border-radius: 15px;
}

.inner-package:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    transform: scale(.9);
    transition: all 1s ease;
}

.inner-package h2{
    font-size: 30px;
    color: black;
    margin-bottom: 25px;
}
.inner-package p{
font-size: 1.5rem;
margin-bottom: 25px;
padding: 0 2rem ;
color: white;
opacity: .95;

}
.inner-package p.cost{
	color: black;
	font-size: 25px;
	font-weight: 600;
}

.inner-package a{
    background: var(--mainclr);
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem 3rem;

}

.inner-package a:hover{
    background: var(--headerclr);
    border-radius: 15px;
}

.header.active{
    background: var(--headerclr);
    transition: all .9s ease-in-out;
}
 
.contact-section{
	background-color: #020004 ;
    padding: 40px 0;
}
.contact-section h1{
	text-align: center;
	color: #ddd;
}
.border{
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}
.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}
.contact-form-text{
	display: block;
	width: 100%;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0,5s;

}
.contact-form-text:focus{
	box-shadow: 0 0 10px 4px #34495e;
}
.textarea.contact-form-text{
	resize: none;
	height: 120px;
}
.contact-form-btn{
float: right;
border: 0;
background: #34495e;
color: #fff;
padding: 12px 50px;
border-radius: 20px;
cursor: pointer;
transition: 0.5s;
}
.contact-form-btn2{
float: left;
border: 0;
background: #34495e;
color: #fff;
padding: 12px 0px;
border-radius: 20px;
cursor: pointer;
transition: 0.5s;
width: 7rem;
}
.contact-form-btn2:hover{
 background: #2980b9;	
}
.contact-form-btn:hover{
 background: #2980b9;	
}
.social{
	width: 100%;
	height:50px;
    background-image: url('images/dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	display: flex;
	align-items: center;
}
.icons{
	width: 250px;
	height: 20px; 
	zoom:150%;
	color: red;
	align-items: center;
	display: flex;
    margin-left:  70px;
}
.icons:hover{
	cursor: pointer;
	transform: scale(1.06);
	transition: .5s all ease;
}
#pic{
	zoom:120%;
	align-items: center
}
#pic:hover{
	color: green;
	cursor: pointer;
	transform: scale(1.04);
	transition: .5s all ease;
}
.icons .gmail{
	
	float: left;
	color: white;
	align-items: center;
	font-size: 12px;
	margin-left: 10px;
	
}
.icons .gmail a{
 text-decoration: none;
 color: white;

}




















.section-p1{
	padding: 10px 10px;
}

#about-app{
	text-align: center;
	background-color: #fff;
	
}
#about-app h1{
	margin-top: 30px;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Raleway', sans-serif;
}
#about-app .video{
	width: 100%;
	padding: 40px 10px ;
	display:flex;
}
#about-app .video div{
	padding: 20px 80px;
}
#about-app .video div:hover{
    transform: scale(1.5);
}
#about-app .video video{
   width: 100%;
   height: 150px;
   border-radius: 20px;
}
















@media  (min-width:1048px) {
    html{
        font-size: 95%;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: -300%;
        right: 0;
        width: 30rem;
        height: 100vh;
        background: var(--headerclr);
    }
.navbar a{
    display: block;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}
.icons div{

    display: initial;
}

.main-home .right-home{
    width: 100%;
    margin-top: 0;
}
.main-home .right-home img{
    width: 100%;
    margin-top: -100px;
}
.main-home .left-home{
    width: 100%;
    margin-top: -100px;
}

.home{
    background: none;
}
/*.who{
    margin-top: 200px;
}*/
.inner-who-content{
    margin-top: 20px;
}
.who h1{
    margin-bottom: 15px;
}
.social{
	width:100%;
	margin-left: 0px;
	font-size: 3px;
}
.icons .gmail{
	font-size: 8px;
	margin-right: 0px;
	float: left;
}
.icons{
	margin-left:  0px;
}
.home-text{
	z-index: 1000;
	padding: 150px;
}
.home-text span{
	color: var(--bg-color);
	font-weight: 500;
	text-transform: uppercase;
}
.home-text h1{
	color: var(--bg-color);
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
.container{
	width: 100%;
	min-height: 640px;
	position: relative;
	display: flex;
	align-items: center;
	background:rgb(2,3,7,0.4);
}
.container img{
	position: absolute;
	width: 100%;
	height:100%;
	object-fit: cover;
	object-position: center;
	z-index: -1;
}


.inner-package{
	width: 75%;
}
header{
	font-size: 25px;
    min-width: 320;
}
}



@media (max-width:780px) {
	#about-app .video {
		width: 100%;
		padding: 40px 0px;
		display: flex;
		flex-direction: column;
	}
	#about-app .video div {
		padding: 20px 20px;
	}
	#about-app .video div p{
		font-size: 30px;
	}
	#about-app .video video {
		width: 100%;
		height: 350px;
		border-radius: 20px;
		padding-bottom: 50px;
	}
	#about-app .video div:hover{
		transform: scale(1.02);
	}
}



















@media  (max-width:450px){
    .social-icons{
        zoom: 100%;
    }
    header{
        padding: 20px 50px;
    }
    .home-text h1{
		font-size: 3rem;
    }
	.whatsapp .bx{
		background: var(--bg-color);
		padding: 5px;
		font-size: 1.75rem;
		border-radius: 50%;
		border:4px solid rgb(2,3,7,0.4);
		color: var(--main-color);
	}
	.navbar {
		position: absolute;
		top: 100%;
		left: -500%;
		right: 0;
		width: 30rem;
		height: 100vh;
		background: var(--headerclr);
	}
	#about-app h1 {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 30px;
		font-weight: 900;
		font-family: 'Raleway', sans-serif;
	}
	#about-app .video {
		width: 100%;
		padding: 10px 10px;
		display: flex;
	}
	#about-app .video video {
		height: 150px;
		border-radius: 20px;
		padding-bottom: 10px;
	}
	#about-app .video div p {
		font-size: 20px;
	}
} 



